<!DOCTYPE html>
<html>
  <head>
    <%= css_link_tag 'application.css' %>
  </head>

  <body>

    <h2>Example demonstrating the usage of Sprockets on Padrino.</h2>

    <%= js_include_tag 'application.js' %>
  </body>
</html>